.app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #2d2d2d;
  padding: 10px 15px;
  background-color: lightgrey;
}
.wrapper {
  width: 200px;
}
